<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Home - Shopme Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawessome/all.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/ShopmeAdminSmall.png}" alt="Brand">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sales}">Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/repost}">Repost</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">Menus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/settings}">Settings</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user icon-dark fa-2x"></i>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                           th:href="@{/account}"
                           th:text="${#authentication.principal.fullName}">
                        </a>
                        <div class="dropdown-menu cursor-pointer">
                            <a th:href="@{/logout}" class="dropdown-item" id="LogoutLink">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div>
        <h1>Manage Users</h1>
        <a th:href="@{/users/new}">Create New User</a>
        &nbsp; &nbsp;
        <a th:href="@{/users/export/csv}">Export to CSV</a>
        &nbsp; &nbsp;
        <a th:href="@{/users/export/excel}">Export to EXCEL</a>
        &nbsp; &nbsp;
        <a th:href="@{/users/export/pdf}">Export to PDF</a>
    </div>
    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/Users/page/1}" class="form-check-inline m-3 d-flex align-items-center">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDirection}">

            Filter:&nbsp; <input  type="search" name="keyword" th:value="${keyword}" class="form-control" style="width: 25%;" required >
            &nbsp;&nbsp
            <input type="submit" value="Search" class="btn btn-primary">
            &nbsp;&nbsp
            <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
        </form>
    </div>

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead >
                <tr>
                    <th>User ID</th>
                    <th>Photos</th>
                    <th><a class="text-dark" th:href="@{/Users/page/1(sortField='email', sortDir=${reverseSortDir})}">Email</a></th>
                    <th><a class="text-dark" th:href="@{/Users/page/1(sortField='firstName', sortDir=${reverseSortDir})}">First Name</a></th>
                    <th><a class="text-dark" th:href="@{/Users/page/1(sortField='lastName', sortDir=${reverseSortDir})}">Last Name</a></th>
                    <th>Roles</th>
                    <th>Enabled</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="user : ${listUsers}">
                    <td>[[${user.id}]]</td>
                    <td>
                        <i th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-3x icon-dark"></i>
                        <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width:100px ">
                    </td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td>
                        <a th:if="${user.enabled == true}" th:href="@{'/users/' + ${user.id} + '/enabled/false'}" title="Disable user">
                            <i class="fa-solid fa-square-check fa-2x"></i>
                        </a>
                        <a th:if="${user.enabled == false}" th:href="@{'/users/' + ${user.id} + '/enabled/true'}" title="Enable user">
                            <i class="fa-regular fa-square-check fa-2x"></i>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/users/edit/' + ${user.id}}" title="Edit this User">
                            <i class="fa-regular fa-pen-to-square fa-2x icon-green cl-icon-ed-dl"></i>
                        </a>
                        &nbsp;
                        <a th:href="@{'/users/delete/' + ${user.id}}" th:userId="${user.id}" title="Delete this User">
                            <i class="fa-solid fa-trash fa-2x icon-dark cl-icon-ed-dl"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success" th:href="yesBtn">Yes</a>
                    <button class="btn btn-danger" type="button" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center m-1" th:if="${totalItem > 0}">
        <span>Showing user # [[${startCount}]] to [[${endCount}]] of [[${totalItem}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalItem > 0}">
        <span>No user found</span>
    </div>

    <div class="container" th:if="${totalItem > 0}">
        <div class="text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/Users/page/1(sortField=${sortField}, sortDirection=${sortDirection})}" aria-label="First">First</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/Users/page/{pageNum}(pageNum=${currentPage - 1}, sortField=${sortField}, sortDirection=${sortDirection})}" aria-label="Previous">Previous</a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:classappend="${pageNum == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/Users/page/{pageNum}(pageNum=${pageNum}, sortField=${sortField}, sortDirection=${sortDirection})}" th:text="${pageNum}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/Users/page/{pageNum}(pageNum=${currentPage + 1}, sortField=${sortField}, sortDirection=${sortDirection})}" aria-label="Next">Next</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/Users/page/{pageNum}(pageNum=${totalPages}, sortField=${sortField}, sortDirection=${sortDirection})}" aria-label="Last">Last</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="text-center">
        <p>Shopme control panel - Copyright &copy; Shopme</p>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/common.js}">
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);
            userId = link.attr("userID");
            $("#yesBtn").attr("href", link.attr("href"))
            $("#confirmText").text("Are you sure delete this user: " + userId);
            $("#confirmModal").modal();
        });
    });

    function clearFilter() {
        window.location = '[[@{/Users}]]';
    }

    $(document).ready(function () {
        $('#LogoutLink').on("click", function (e) {
            e.preventDefault();
            document.LogoutForm.onsubmit;
        });
    });
</script>
</body>
</html>
