*.icon-white {
    color: white;
}
*.icon-silver {
    color: silver;
}
*.icon-green {
    color: #00806d;
}
*.icon-dark {
    color: gray;
}

.bg-headtb {
    background-color: red;
}

.cl-icon-ed-dl:hover {
    color: #e81f4e;
}